<h3>Suggested Activities</h3>


<ul>
  <% @gathering.activities.each do |activity| %>
    <li class="activity-box" id="activity-<%= activity.id %>"><%= activity.description %> (<%= activity.activity_category.label %>) <%= render partial: 'delete_button', locals:{ object: activity} %>
      <%= render partial: '/votes/form', locals:{votable:activity,gathering:@gathering} %>
    </li>
  <% end %>
</ul>
