<div class="activity-box" id="activity-<%= activity.id %>">
  <li><%= activity.description %> (<%= activity.activity_category.label %>) <%= button_to "X", gathering_activity_path(@gathering, activity), method: :delete, remote: true %> </li>
  <%= render partial: '/votes/form', locals:{votable:activity,gathering:@gathering} %>
</div>
