<li class="activity-box" id="activity-<%= activity.id %>"><%= activity.description %> (<%= activity.activity_category.label %>) <%= button_to "X", gathering_activity_path(@gathering, activity), method: :delete, remote: true %>
<%= render partial: '/votes/form', locals:{votable:activity,gathering:@gathering} %> </li>
