
<div id="collaborator-<%=collaborator.id%>" class="collaborator-btn btn btn-trans <%= (collaborator == current_user ? "btn-danger" : "btn-primary") %>  <%='collaborator-not-notified' if !collaborator.notified(@gathering)%>">
  <span style="display:inline-block"  class="collaborator">
  <%= collaborator.name %>
  </span>
  <span style="display:inline-block" class="collaborator-delete">

    <%= link_to(raw("<i class='fa fa-times collaborator-delete-icon'></i>"),
    {action:"remove_users", user:collaborator.id}, method: :post, remote: (collaborator == current_user ? false : true), style:"display:inline-block" )%>
  </span>


</div>
