<div id="finalized-persist">

<h6 class="popular-suggestions-title">The final plan is</h6>
<h5 class="popular-suggestions">
  <%if @gathering.finalized_plan.activity %>
    <a href="#activities-section"><%= @gathering.finalized_plan.activity.description.try(:capitalize)%></a>
  <%end%>
  <%if @gathering.finalized_plan.moment %>
    <%= "on" if @gathering.finalized_plan.activity %>
    <a href="#moments-section"> <%= @gathering.finalized_plan.moment.time ? render_time(@gathering.finalized_plan.moment.time): "" %></a>
  <% end %>
  <%if @gathering.finalized_plan.place %>
    <%= "at" if (@gathering.finalized_plan.moment || @gathering.finalized_plan.activity) %>
    <a href="#places-section"><%= @gathering.finalized_plan.place.name %></a>
 <% end %>
</div>
