<div id="suggestions">

<h6 class="popular-suggestions-title">The most popular suggestions so far are</h6>
<h5 class="popular-suggestions">
  <%if (activity = @gathering.find_best("activity")) %>
    <a href="#activities-section"><%= activity.description.try(:capitalize)%></a>
  <%end%>
  <%if (moment = @gathering.find_best("moment")) %>
    <%= "on" if activity %>
    <a href="#moments-section"> <%= moment.time ? render_time(moment.time): "" %></a>
  <% end %>
  <%if (place = @gathering.find_best("place")) %>
    <%= "at" if (moment || activity) %>
    <a href="#places-section"><%= place.name %></a>
 <% end %>

</div>
