<p id="notice"><%= notice %></p>

<div class="container col-md-12">

  <p>
    <strong>Title:</strong>
    <%= @gathering.title %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @gathering.owner.name %>
  </p>

  <%= link_to 'Edit', edit_gathering_path(@gathering) %> |
  <%= link_to 'Back', gatherings_path %>

</div>


<div class="container">

  <div class="container col-md-2" id="collaborators">
    <%= render partial: "collaborators" , locals:{ collaborators: @collaborators, gathering: @gathering, users: @users } %>
  </div>


  <div class="container col-md-4" id="moments">
    <%= render partial: "moments" %>
  </div>

  <div class="container col-md-4" id="activities">
    <%= render partial: "activities" %>
  </div>

  <div class="container col-md-2" id="right-panel">
    <%= render partial: "places" %>
  </div>

</div>

<div class="container">

  <%= render partial: 'add_items' %>


  <div class="container col-md-4">

    <h4>Add a comment</h4>

    <%= form_for [@gathering, @comment] do |f| %>

      <%= f.text_area :content, placeholder: 'Your comment here...' %>
      <br>
      <%= f.submit 'Add comment' %>

    <% end %>

  </div>

  <div class="container col-md-6" id="comments">

  <h3>Comments</h3>


    <ul class="list-unstyled comment-list">
      <% @gathering.comments.each do |comment| %>
        <li>
          <span class="comment-user text-uppercase"><%= comment.user.name %></span>
          <br><%= comment.content %>
        </li>
      <% end %>
    </ul>

  </div>

</div>
