<p id="notice"><%= notice %></p>

<div class="container col-md-12">

  <p>
    <strong>Title:</strong>
    <%= @gathering.title %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @gathering.owner.name %>
  </p>

  <%= link_to 'Edit', edit_gathering_path(@gathering) %> |
  <%= link_to 'Back', gatherings_path %>

</div>


<div class="container">

  <div class="container col-md-2" id="collaborators">
    <%= render partial: "collaborators" , locals:{ collaborators: @collaborators, gathering: @gathering, users: @users } %>
  </div>


  <div class="container col-md-4" id="moments">
    <%= render partial: "moments" %>
  </div>

  <div class="container col-md-4" id="activities">
    <%= render partial: "activities" %>

  </div>

  <div class="container col-md-2" id="right-panel">

    <h3>Suggested Places</h3>

    <ul>
      <% @gathering.places.each do |place| %>
        <li><%= place.name %> <%= render partial: 'delete_button', locals:{gathering: @gathering, object: place} %> </li>
        <%= render partial: '/votes/form', locals:{votable:place,gathering:@gathering} %>
      <% end %>
    </ul>

  </div>

</div>

<div class="container">

  <div class="container col-md-2">

    <h4>Add a time</h4>
    <%= form_for [@gathering, @moment] do |f| %>
      <%= f.label :time %>
      <%= f.datetime_local_field :time %>
      <%= f.submit 'Add time' %>
    <% end %>


    <h4>Add an activity</h4>

      <%= form_for [@gathering, @activity] do |f| %>

      <%= f.label :activity_category_id %>
      <%= f.collection_select(:activity_category_id, ActivityCategory.all, :id, :label) %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit 'Add activity' %>

    <% end %>

    <h4>Add a place</h4>
    <%= form_for [@gathering, @place] do |f| %>
      <%= f.label "Place Name" %>
      <%= f.text_field :name %>
      <%= f.submit 'Add place' %>
    <% end %>




  </div>


  <div class="container col-md-4">

    <h4>Add a comment</h4>

    <%= form_for [@gathering, @comment] do |f| %>

      <%= f.text_area :content, placeholder: 'Your comment here...' %>
      <br>
      <%= f.submit 'Add comment' %>

    <% end %>

  </div>

  <div class="container col-md-6" id="comments">

  <h3>Comments</h3>


    <ul class="list-unstyled comment-list">
      <% @gathering.comments.each do |comment| %>
        <li>
          <span class="comment-user text-uppercase"><%= comment.user.name %></span>
          <br><%= comment.content %>
        </li>
      <% end %>
    </ul>

  </div>

</div>
