<div class="container col-md-12">

  <div class="title-container" id="gathering-title-container" data-id="<%= @gathering.id %>">
    <h2 class="gathering-title"><%= @gathering.title %></h2>
  </div>

  <p>
    <strong>Owner:</strong>
    <%= @gathering.owner.name %>
  </p>

  <%= link_to 'Edit', edit_gathering_path(@gathering) %> |
  <%= link_to 'Back', gatherings_path %>

  <button type="button" id="staging-button" class="btn btn-primary btn-md">
    Let's Do It
  </button>

</div>

<%= render 'do_it' %>

<div class="container">

  <div class="container col-md-2" id="collaborators">
    <%= render "collaborators_section" %>
  </div>


  <div class="container col-md-4" id="moments">
    <%= render "moments_section" %>
  </div>

  <div class="container col-md-4" id="activities">
    <%= render "activities_section" %>
  </div>

  <div class="container col-md-2" id="right-panel">
    <%= render "places_section" %>
  </div>

</div>

<div class="container">

  <div class="container col-md-2">
    <%= render 'gatherings/add_items/all' %>
  </div>

  <div class="container col-md-4">
    <%= render 'add_comment' %>
  </div>

  <div class="container col-md-6" id="comments">
    <%= render 'comments' %>
  </div>

</div>

<script id="modal-template" type="text/x-jsrender">
<div class="row finalize-buttons-row">
<div class="container col-md-4" id="moments-buttons" data-toggle="buttons">
<h4>Choose a moment:</h4>
{{for moments}}
  <label class="btn btn-primary">
    <input type="radio" name="moments"> {{:time}}
  </label>
{{/for}}
</div>
<div class="container col-md-4" id="activities-buttons" data-toggle="buttons">
<h4>Choose an activity:</h4>
{{for activities}}
  <label class="btn btn-primary">
    <input type="radio" name="activities"> {{:description}}
  </label>
{{/for}}
</div>
<div class="container col-md-4" id="places-buttons" data-toggle="buttons">
<h4>Choose a place:</h4>
{{for places}}
  <label class="btn btn-primary">
    <input type="radio" name="places"> {{:name}}
  </label>
{{/for}}
</div>
</div>
</script>