<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gathering.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @gathering.owner %>
</p>

<h2>Add a time</h2>

<%= form_for [@gathering, @moment] do |f| %>

<%= f.label :time %>
<%= f.datetime_local_field :time %>

<%= f.submit 'Add time' %>

<% end %>

<%= link_to 'Edit', edit_gathering_path(@gathering) %> |
<%= link_to 'Back', gatherings_path %>
