<!-- <div class="container"> -->

  <div class="row" id="title-row">
    <div class="col-md-12">
      <div class="title-container" id="gathering-title-container" data-id="<%= @gathering.id %>">
        <h2 class="gathering-title"><%= @gathering.title %></h2>
      </div>
    </div>
  </div>
  <div class="row" id="action-row">
    <div class="col-md-12 action-buttons">
      <a href="#activities-form-container" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="activities-form-container" id="what-button">What?</a>
      <a href="#places-form-container" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="places-form-container" id="where-button">Where?</a>
      <a href="#moments-form-container" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="moments-form-container" id="when-button">When?</a>
    </div>
  </div>
  <div class="row" id="form-row">
    <div class="col-md-12">
      <div id="collaborators-panel" class="panel col-md-4">
        <div class="panel-body">
          <div id="collaborators">
            <%= render "collaborators_section" %>
          </div>
        </div>
      </div>
      <div id="create-forms">
        <div class="col-md-offset-4 col-md-4 collapse" id="moments-form-container">
          <div class="well">
            <%= render 'gatherings/add_items/moment' %>
          </div>
        </div>

        <div class="col-md-offset-4 col-md-4 collapse" id="activities-form-container">
          <div class="well">
            <%= render 'gatherings/add_items/activity' %>
          </div>
        </div>

        <div class="col-md-offset-4 col-md-4 collapse" id="places-form-container">
          <div class="well">
            <%= render 'gatherings/add_items/place' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="col-md-12 hidden">
      <div class="title-box panel">
        <div class="panel-heading">
          <p>
            <strong>Owner:</strong>
            <%= @gathering.owner.name %>
          </p>
          <div class="actions pull-right">
            <button type="button" id="staging-button" class="btn btn-primary btn-md">
              Let's Do It
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'do_it' %>

  <!-- <div class="row">

    <div class="">

      <div class=" col-md-2" id="collaborators">
        <%# render "collaborators_section" %>
      </div>

    </div>

  </div> -->
  <!-- <div class="row">
    <div class="col-md-12" id="votable-forms">

      <div class="col-md-4">
        <%# render 'gatherings/add_items/all' %>
      </div>

    </div>
  </div> -->

  <div class="row hidden">
    <div class="col-md-12" id="votable-cards">

      <div class="col-md-4" id="moments">
        <%= render 'gatherings/add_items/moment' %>
        <%= render "moments_section" %>
      </div>

      <div class="col-md-4" id="activities">
        <%= render 'gatherings/add_items/activity' %>
        <%= render "activities_section" %>
      </div>

      <div class="col-md-4" id="places">
        <%= render 'gatherings/add_items/place' %>
        <%= render "places_section" %>
      </div>

    </div>
  </div>





  <div class="row hidden">
    <div class="col-md-5 col-md-offset-4">

      <div class="comment-box panel">
        <!-- body -->
        <div class="panel-body">

          <div class="comment-list panel">
            <div class="panel-body" id="comments">
                <%= render 'comments' %>
            </div>
          </div>

        </div>
        <!-- footer -->
        <div class="panel-footer">
          <div class="" id="comment-form">
              <div class="">
                <%= render 'add_comment' %>
              </div>
          </div>
        </div>

      </div>

    </div>
  </div>

<!-- </div> -->

<script id="modal-template" type="text/x-jsrender">
<div class="row finalize-buttons-row">
<div class="container col-md-4" id="moments-buttons" data-toggle="buttons">
<h4>Choose a moment:</h4>
{{for moments}}
  <label class="btn btn-primary{{if suggested}} active{{/if}}">
    <input type="radio" name="moments" value="{{:id}}"{{if suggested}} checked=""{{/if}}> {{:time}}
  </label>
{{/for}}
</div>
<div class="container col-md-4" id="activities-buttons" data-toggle="buttons">
<h4>Choose an activity:</h4>
{{for activities}}
  <label class="btn btn-primary{{if suggested}} active{{/if}}">
    <input type="radio" name="activities" value="{{:id}}"{{if suggested}} checked=""{{/if}}> {{:description}}
  </label>
{{/for}}
</div>
<div class="container col-md-4" id="places-buttons" data-toggle="buttons">
<h4>Choose a place:</h4>
{{for places}}
  <label class="btn btn-primary{{if suggested}} active{{/if}}">
    <input type="radio" name="places" value="{{:id}}"{{if suggested}} checked=""{{/if}}> {{:name}}
  </label>
{{/for}}
</div>
</div>
</script>

<%= render 'finalize_display' %>
