<!-- <div class="container"> -->

  <div class="row" id="title-row">
    <div class="col-md-12">
      <div class="title-container" id="gathering-title-container" data-id="<%= @gathering.id %>">
        <h2 class="gathering-title"><%= @gathering.title %></h2>
        <% if current_user != @gathering.owner %>
        <h5 class="gathering-title">Initiated by: <%= @gathering.owner.name %> </h5>
        <% end %>
        <div id="suggested-or-finalized">
        <% if @gathering.finalized? %>
        <%= render 'finalize_display_persist' %>
        <% else %>
        <%= render 'suggestions' %>
        <% end %>

        </div>
        </h5>
      </div>
    </div>
  </div>

  <div class="row" id="collaborators-row">
    <div id="collaborators-panel" class="col-md-12">
      <div id="collaborators">
        <%= render "collaborators_section" %>
      </div>
    </div>
  </div>
  <!-- Need to format without card -->



  <!-- <div class="row">
    <div class="finalize-button">
      <button type="button" id="staging-button" class="btn btn-primary btn-md">
        Let's Do It
      </button>
    </div>
  </div> -->

  <div class="row" id="outer-dashboard">
    <div class="container col-md-12" id="dashboard-col">
      <div class="panel" id="dashboard-panel">
        <div class="panel-body" id="dashboard-panel-body">

          <div class="col-md-9 <%= "gathering-finalized" if @gathering.finalized? %>" id="votable-dashboard">
            <!-- votable rows -->

            <div class="row" id="activities-row">
              <!-- insert cards -->
              <div class="section-wrapper clearfix" id="activities-section">

                <%= render "activities_section" %>
              </div>

            </div>

            <div class="row" id="places-row">
              <!-- insert cards -->
              <div class="section-wrapper clearfix" id="places-section">

              <%= render "places_section" %>
              </div>
            </div>

            <div class="row" id="moments-row">
              <!-- insert cards -->
              <div class="section-wrapper clearfix" id="moments-section">

                <%= render "moments_section" %>
              </div>
            </div>
          </div>

          <div class="col-md-3" id="dashboard-control">
            <!-- forms -->
            <div class="row" id="action-row">

              <div id="forms-panel">
                <div class="panel-body section-wrapper <%= "gathering-finalized" if @gathering.finalized? %>" id="forms-panel-body">

                  <!-- Buttons -->
                  <div class="panes" id="pane-wrapper">
                      <!-- forms -->
                    <div id="create-forms">

                      <div class="action-buttons">
                        <h4>Make a suggestion:</h4>
                        <a href="#" class="btn" role="button" data-pane="activities-form-container" aria-expanded="false" aria-controls="activities-form-container" id="what-button">Activity</a>
                        <a href="#" class="btn" role="button" data-pane="places-form-container" aria-expanded="false" aria-controls="places-form-container" id="where-button">Place</a>
                        <a href="#" class="btn" role="button" data-pane="moments-form-container" aria-expanded="false" aria-controls="moments-form-container" id="when-button">Time</a>
                      </div>

                      <div class="action-pane" id="moments-form-container">
                        <%= render 'gatherings/add_items/moment' %>
                      </div>

                      <div class="action-pane" id="activities-form-container">
                        <%= render 'gatherings/add_items/activity' %>
                      </div>

                      <div class="action-pane" id="places-form-container">
                        <%= render 'gatherings/add_items/place' %>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- end action-row -->
            </div>

            <% if @gathering.finalized? %>
            <div class="finalize-button action section-wrapper">
              <h4>Need to make some changes?</h4>
              <!-- <button type="button" id="unstaging-button" class="btn btn-danger btn-md">
                Change of Plans
              </button> -->

              <%= button_to "Change of Plans", unfinalize_gathering_path, remote: true, method:'put', class:"btn btn-danger btn-md", id:"unstaging-button" %>
            </div>
            <% else %>
            <div class="finalize-button action section-wrapper">
              <h4>Ready to make a decision?</h4>
              <button type="button" id="staging-button" class="btn btn-primary btn-md">
                Let's Do It
              </button>
            </div>
            <% end %>

            <!-- comments -->
             <div class="row" id="comment-row">
              <div class="section-wrapper">
                <div class="comment-box panel">
                  <!-- body -->
                  <div class="panel-body">
                    <div class="comment-list panel">
                      <div class="panel-body" id="comments">
                          <%= render 'comments' %>
                      </div>
                    </div>

                  <!-- footer -->
                    <div class="" id="comment-form">
                        <div class="">
                          <%= render 'add_comment' %>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  </div>
    <div class="col-md-12 hidden">
      <div class="title-box panel">
        <div class="panel-heading">
          <p>
            <strong>Owner:</strong>
            <%= @gathering.owner.name %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%= render 'do_it' %>

  <!-- <div class="row">

    <div class="">

      <div class=" col-md-2" id="collaborators">
        <%# render "collaborators_section" %>
      </div>

    </div>

  </div> -->
  <!-- <div class="row">
    <div class="col-md-12" id="votable-forms">

      <div class="col-md-4">
        <%# render 'gatherings/add_items/all' %>
      </div>

    </div>
  </div> -->

  <div class="row hidden">
    <div class="col-md-12" id="votable-cards">

      <div class="col-md-4" id="moments">
        <%= render 'gatherings/add_items/moment' %>
        <%= render "moments_section" %>
      </div>

      <div class="col-md-4" id="activities">
        <%= render 'gatherings/add_items/activity' %>
        <%= render "activities_section" %>
      </div>

      <div class="col-md-4" id="places">
        <%= render 'gatherings/add_items/place' %>
        <%= render "places_section" %>
      </div>

    </div>
  </div>







<!-- </div> -->

<script id="modal-template" type="text/x-jsrender">
<div class="row finalize-buttons-row">
{{if moments.length != 0}}
    <div class="container col-md-4" id="moments-buttons" data-toggle="buttons">
      <h4>Choose a moment:</h4>
      {{for moments}}
        <label class="btn btn-primary{{if suggested}} active{{/if}}">
          <input type="radio" name="moments" value="{{:id}}"{{if suggested}} checked=""{{/if}}> {{:time}}
        </label>
      {{/for}}
    </div>
{{/if}}
{{if activities.length != 0}}
  <div class="container col-md-4" id="activities-buttons" data-toggle="buttons">
    <h4>Choose an activity:</h4>
    {{for activities}}
      <label class="btn btn-primary{{if suggested}} active{{/if}}">
        <input type="radio" name="activities" value="{{:id}}"{{if suggested}} checked=""{{/if}}> {{:description}}
      </label>
    {{/for}}
  </div>
{{/if}}
{{if places.length != 0}}
<h4>Choose a place:</h4>
  <div class="container col-md-4" id="places-buttons" data-toggle="buttons">
    {{for places}}
      <label class="btn btn-primary{{if suggested}} active{{/if}}">
        <input type="radio" name="places" value="{{:id}}"{{if suggested}} checked=""{{/if}}> {{:name}}
      </label>
    {{/for}}
  </div>
{{/if}}
</div>
</script>

<%= render 'finalize_display' %>
