<div class="container">

  <div class="row">
    <div class="title-container " id="gathering-title-container" data-id="<%= @gathering.id %>">
      <h2 class="gathering-title"><%= @gathering.title %></h2>
    </div>
  </div>

  <div class="row">
    <p>
      <strong>Owner:</strong>
      <%= @gathering.owner.name %>
    </p>

    <%= link_to 'Edit', edit_gathering_path(@gathering) %> |
    <%= link_to 'Back', gatherings_path %>

    <button type="button" id="staging-button" class="btn btn-primary btn-md">
      Let's Do It
    </button>

    <%= render 'do_it' %>

  </div>

  <div class="row">

    <div class="container">

      <div class="container col-md-2" id="collaborators">
        <%= render "collaborators_section" %>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-4" id="moments">
      <%= render "moments_section" %>
    </div>

    <div class="col-md-4" id="activities">
      <%= render "activities_section" %>
    </div>

    <div class="col-md-4" id="places">
      <%= render "places_section" %>
    </div>
  </div>



<div class="container">

  <div class="container col-md-2">
    <%= render 'gatherings/add_items/all' %>
  </div>

  <div class="container col-md-4">
    <%= render 'add_comment' %>
  </div>

  <div class="container col-md-6" id="comments">
    <%= render 'comments' %>
  </div>

</div>
