<div class="container">

  <div class="row">
    <div class="col-md-10">
      <div class="title-box panel">
        <div class="panel-heading">
          <div class="title-container " id="gathering-title-container" data-id="<%= @gathering.id %>">
            <h2 class="gathering-title"><%= @gathering.title %></h2>
          </div>
          <p>
            <strong>Owner:</strong>
            <%= @gathering.owner.name %>
          </p>
          <div class="actions pull-right">
            <button type="button" id="staging-button" class="btn btn-primary btn-md">
              Let's Do It
            </button>
          </div>
        </div>
        <div class="panel-body">
          <div class="" id="collaborators">
            <%= render "collaborators_section" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'do_it' %>

  <!-- <div class="row">

    <div class="">

      <div class=" col-md-2" id="collaborators">
        <%# render "collaborators_section" %>
      </div>

    </div>

  </div> -->

  <div class="row">
    <div class="col-md-4" id="moments">
      <%= render "moments_section" %>
    </div>

    <div class="col-md-4" id="activities">
      <%= render "activities_section" %>
    </div>

    <div class="col-md-4" id="places">
      <%= render "places_section" %>
    </div>
  </div>



  <div class="row">

    <div class="col-md-4">
      <%= render 'gatherings/add_items/all' %>
    </div>

    <div class="col-md-8">

      <div class="col-md-6">
        <%= render 'add_comment' %>
      </div>

      <div class="col-md-6" id="comments">
        <%= render 'comments' %>
      </div>
    </div>

  </div>
</div>

<script id="modal-template" type="text/x-jsrender">
<div class="row finalize-buttons-row">
<div class="container col-md-4" id="moments-buttons" data-toggle="buttons">
<h4>Choose a moment:</h4>
{{for moments}}
  <label class="btn btn-primary{{if suggested}} active{{/if}}">
    <input type="radio" name="moments"{{if suggested}} checked=""{{/if}}> {{:time}}
  </label>
{{/for}}
</div>
<div class="container col-md-4" id="activities-buttons" data-toggle="buttons">
<h4>Choose an activity:</h4>
{{for activities}}
  <label class="btn btn-primary{{if suggested}} active{{/if}}">
    <input type="radio" name="activities"{{if suggested}} checked=""{{/if}}> {{:description}}
  </label>
{{/for}}
</div>
<div class="container col-md-4" id="places-buttons" data-toggle="buttons">
<h4>Choose a place:</h4>
{{for places}}
  <label class="btn btn-primary{{if suggested}} active{{/if}}">
    <input type="radio" name="places"{{if suggested}} checked=""{{/if}}> {{:name}}
  </label>
{{/for}}
</div>
</div>
</script>
