<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gathering.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @gathering.owner %>
</p>

<div class="container" id="collaborators">
  <h4>Who's Involved?</h4>
  <ul>
    <% @collaborators.each do |collaborator| %>
    <li> <%= collaborator.name %> </li>
    <% end %>
  </ul>



</div>



<%= link_to 'Edit', edit_gathering_path(@gathering) %> |
<%= link_to 'Back', gatherings_path %>
