
<div class="row gathering-row <%=gathering.aasm_state%>">
  <div class = "col-md-4">
    <div class ="row">
    <h3>
    <%= render partial:"gatherings/index/remove_gathering", locals:{gathering:gathering} %>
    <%= link_to gathering.title, gathering %>
    </h3>
    <%= gathering.aasm_state.capitalize %>
   </div>
  </div>
  <div class = "col-md-8" style="text-align: right;">
    <div class="row">
      <% users = gathering.users  %>
      <% users[0...-1].each do |user|  %>
        <%=user.name%> |
      <%end  %>
      <%= users.last.name %>
    </div>
  </div>
</div>
