<div class="votebox">

  <label>
  <span class="glyphicon glyphicon-thumbs-up">
    <%= button_to "Thumbs Up",{ controller:"votes", action:"submit", thumbage:"1", gathering_id:gathering.id, votable_id:votable.id, votable_class:votable.class.to_s }, method: :post, class:"hidden-button" %>
    <%= votable.votes.where(value:1).count %>
  </span>
  </label>

  <label>
  <span class="glyphicon glyphicon-question-sign">
    <%= button_to "Shrug", { controller:"votes", action:"submit", thumbage:"0", gathering_id:gathering.id, votable_id:votable.id, votable_class:votable.class.to_s }, method: :post, class:"hidden-button" %>
    <%= votable.votes.where(value:0).count %>
  </span>
  </label>

<label>
  <span class="glyphicon glyphicon-thumbs-down">
    <%= button_to "Thumbs Down", { controller:"votes", action:"submit", thumbage:"-1", gathering_id:gathering.id, votable_id:votable.id, votable_class:votable.class.to_s }, method: :post, class:"hidden-button" %>
    <%= votable.votes.where(value:-1).count %>
  </span>
</label>


</div>
