
<div style="display:inline-block" data-toggle="tooltip" data-placement="bottom" title="<%= users_for_votable_vote(votable, thumbage).join(", ") %>">

<%= form_tag({controller:"votes", :action => 'submit', thumbage:thumbage,  gathering_id:gathering.id, votable_id:votable.id, votable_class:votable.class.to_s}, {method: :post, remote: true}) do%>
  <%= button_tag(type: 'submit', class: "btn btn-primary btn-xs #{class_mapping(thumbage)} #{voted_class if current_vote(votable).try(:value) == thumbage}" ) do %>
   <i class="fa <%=icon_mapping(thumbage)%>"></i>
   <span class="vote-count"><%= vote_count(votable,thumbage)%></span>
  <% end %>
<% end %>

</div>
