<div class="item-col col-md-3">
  <div class="moment-box panel panel-solid-info" id="moment-<%= moment.id %>">
    <div class="item panel-heading">
      <h3 class="panel-title"><%= moment.time.strftime('%A, %B %e') %></h3>
      <div class="actions pull-right">
        <i class="fa fa-chevron-up"></i>
      </div>
    </div>
    <div class="panel-body">
      <p>
        <% if moment.user %>
        <%= moment.user.name %> suggests:<br>
        <% end %>
        <%= moment.time.strftime('%A, %B %e %Y at %I:%M %P') %>
      </p>
      <%= button_to "X", gathering_moment_path(@gathering, moment), method: :delete, remote: true, class: 'btn btn-xs', style:"display:inline-block;" %>
    </div>
    <div class="panel-footer">
      <%= render partial: '/votes/form', locals:{ votable: moment, gathering: @gathering } %>
    </div>
  </div>
</div>
