<!DOCTYPE html>
<html>
<head>
  <title>Gettoget.hr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SpaceLab</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,700italic,600italic,400italic|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- Autocomplete Theme-->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body class="off-canvas">
  <div id="container">
    <header id="header">
      <!--logo start-->
      <div class="brand">
          <%= link_to image_tag("gettogethr-logo-web.png", id: 'nav-logo'), root_path %>
      </div>
      <!--logo end-->
      <div class="main-nav">
        <ul class="list-unstyled">
          <li class='main-app-link'>
            <%= link_to 'Gatherings', gatherings_path %>
          </li>
        </ul>
      </div>
      <div class="user-nav">
          <ul>
              <!-- <li class="dropdown messages">
                  <span class="badge badge-danager animated bounceIn" id="new-messages">5</span>
                  <button type="button" class="btn btn-default dropdown-toggle options" id="toggle-mail" data-toggle="dropdown">
                      <i class="fa fa-envelope"></i>
                  </button>
                  <ul class="dropdown-menu alert animated fadeInDown">
                      <li>
                          <h1>You have <strong>some number of</strong> new messages</h1>
                      </li>
                  </ul>
              </li> -->
              <li class="profile-photo">
                  <!-- <img src="assets/img/avatar.png" alt="" class="img-circle"> -->
              </li>
              <li class="dropdown settings">
                  <%- if user_signed_in? -%>
                    <%= render 'layouts/logged_in' %>
                  <%- else -%>
                    <%= render 'layouts/logged_out' %>
                  <%- end -%>
              </li>
          </ul>
      </div>
    </header>
    <section class="main-content-wrapper <%= controller_name %>-<%= action_name %>">
      <section id="main-content">
        <div class="row">
          <%- if !flash.empty? -%>
            <%- flash.each do |note, msg| -%>
          <div class="container panel panel-default flash <%= note %>">
              <div class="panel-body"><%= msg %></div>
          </div>
            <%- end -%>
          <%- end -%>
        </div>
        <div class="row">
          <div class="col-md-12">
          <%= yield %>
          </div>
        </div>
        <!-- </div> -->
      </section>
    </section>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
